<div id="wrapper" class="toggled">

  <!-- Sidebar -->
  <% include ../partials/sidebar.ejs %>
  <!-- #sidebar-wrapper -->

  <!-- Page Content -->
  <div id="page-content-wrapper">
    <div class="container-fluid page-container">
      <!-- Header row -->
      <div class="row admin-header">
        <div class="col-lg-12">
          <!-- Header title -->
          <div class="header-title"><%= title %></div>
          <!-- Toggle button -->
          <a href="#menu-toggle" id="menu-toggle" class="btn header-btn">Toggle Sidebar</a>
          <!-- New page button -->
          <a href="/admin/pages/new" class="btn header-btn"><i class="fa fa-plus fa-fw"></i> New page</a>

        </div>
      </div>

      <!-- Content body row -->
      <div class="row new-pages-container">
        <div class="col-lg-12">
          <div class="new-pages-row">
            new pages row when new page created
          </div>
        </div>
      </div>
    </div>
  </div>
  <!-- /#page-content-wrapper -->
</div>
<!-- /#wrapper -->
