<form class="form-horizontal">
  <div class="form-group form-group-lg">
    <label for="trademarkText" class="col-sm-2 control-label">Text</label>
    <div class="col-sm-10">
      <input type="text" class="form-control" id="trademarkText" placeholder="Trademark / copyright text">
    </div>
  </div>

  <div class="form-group">
    <label for="footer-bgcolor" class="col-sm-2 control-label">Background color</label>
    <div class="col-sm-10">
      <input type="color" class="form-control" id="footer-bgcolor" placeholder="Select background color for footer">
    </div>
  </div>

  <div class="form-group">
    <div class="col-sm-offset-2 col-sm-10">
      <button type="submit" class="btn save-btn"><i class="fa fa-check fa-fw"></i>Save template</button>
    </div>
  </div>
</form>
