<form action="/admin/gallery" method="post">
  <div class="form-group">
    <div class="input-group">
      <span class="input-group-addon"><i class="fa fa-list-alt fa-fw"></i></span>
      <input type="text" class="form-control" placeholder="Image name">
    </div>
  </div>

  <div class="form-group">
    <div class="input-group">
      <span class="input-group-addon"><i class="fa fa-link fa-fw"></i></span>
      <input type="url" class="form-control" placeholder="Image url">
    </div>
  </div>

</form>
