<div id="wrapper" class="toggled">

  <!-- Sidebar -->
  <% include ../partials/sidebar.ejs %>
  <!-- #sidebar-wrapper -->

  <!-- Page Content -->
  <div id="page-content-wrapper">
    <div class="container-fluid page-container">
      <!-- Header row -->
      <div class="row admin-header">
        <div class="col-lg-12">
          <!-- Header title -->
          <div class="header-title"><%= title %></div>
          <!-- Toggle button -->
          <a href="#menu-toggle" id="menu-toggle" class="btn header-btn">Toggle Sidebar</a>
          <!-- Button trigger modal -->
          <button type="button" class="btn header-btn" data-toggle="modal" data-target="#imgUpload-modal">
            <i class="fa fa-cloud-upload fa-fw"></i> Upload image
          </button>
        </div>
      </div>

      <!-- Gallery body row -->
      <div class="row pages-contentbody-container">
        <div class="col-lg-12">
          <!-- Img Upload Modal -->
          <% include ../partials/modals/imgurl_modal.ejs %>
          <h3>Uploaded Images</h3>

          <!-- Uploaded images grid -->
          <ul class="uploaded-img-grid">
            <%for (var i = 0; i < imageArr.length; i++){%>
              <li class="flip-container">
                <div class="card">
                  <figure class="front">
                    <img class="uploaded-img" src="<%=imageArr[i].img_url%>"/>
                  </figure>
                  <figure class="back"><%=imageArr[i].name%></figure>
                </div>
              </li>
            <%}%>
          </ul>
          <!-- end of uploaded images grid -->

        </div>
      </div>
    </div>
  </div>
  <!-- /#page-content-wrapper -->
</div>
<!-- /#wrapper -->
