<% if (arr.length > 0){ %>
  <nav class="navbar navbar-default navbar-root">
    <ul class="nav nav-pills">
      <% for(var i = 0; i < arr.length; i++){ %>
        <li class="nav-item" role="presentation">
          <a href="views/<%= arr[i].slug%>"><%= arr[i].title%></a>
        </li>
      <%  } %>
    </ul>
  </nav>
<% } %>


<div class="main text-center">
  <h1>Welcome to</h1>
  <a  href="/login"><img src="http://i.imgur.com/351vaj3.png" /></a>
  
</div>
