


<!-- Main content -->
<div class="main">
  <!-- Title -->
  <div class="main-header">
    <h3>Thank you all<span>for these gruesome 12 weeks!</span></h3>
  </div>

  <img src="/images/wdi4.jpg"  width="100%" height="15%" alt="img03"/>

  <!-- Thumbnail images grid -->
  <ul id="og-grid" class="og-grid">
    <!-- Each li stores 1 thumbnail -->
    <!-- All data-" " = elements inside expanded view -->
    <li>
  		<a data-largesrc="/images/primas.jpg" data-title="Boom Shaka Lakaler" data-description="Yow yall?">
  			<img src="/images/primas.jpg" alt="img01"/>
  		</a>
  	</li>
  	<li>
  		<a data-largesrc="/images/atan.jpg" data-title="Scala Mama" data-description="Mother of all">
  			<img src="/images/atan.jpg" alt="img03"/>
  		</a>
  	</li>
    <li>
  		<a data-largesrc="/images/zhenjie.jpg" data-title="Mr Sunset" data-description="twiling dusk sundown evening nightfall eventide night gloaming eve vesper crepuscule candle rideofftothe sunset">
  			<img src="/images/zhenjie.jpg" alt="img03"/>
  		</a>
  	</li>
    <li>
  		<a data-largesrc="/images/jsim.jpg" data-title="Ask me maybe?" data-description="Who wants to be a question naire?">
  			<img src="/images/jsim.jpg" alt="img03"/>
  		</a>
  	</li>


  </ul>

</div>
